*
{
    margin: 0;
    padding: 0;
}

body
{
    font-family: sans-serif;
}

#nav-bar
{
    position: sticky;
    top: 0;
    z-index: 10;
}

.navbar 
{
    background-image: linear-gradient(to right, rgb(0, 0, 0), rgb(63, 63, 63));
    padding: 0 !important;
}

.navbar-brand img
{
    height: 40px;
    padding-left: 20px;
}

.navbar-nav li
{
    padding: 0 10px;
}

.navbar-nav li a
{
    color: rgb(184, 184, 184);
    font-weight: 600;
    float: right;
    text-align: left;
}

.navbar-nav li a:hover {
    color: #ffffff;
    background-color: rgba(255, 255, 255, 0.1); 
    border-radius: 4px; 
    
}

.navbar-nav li a:focus {
    color: #ffffff; /* สีของข้อความ */
}

.fa-bars
{
    color: white;
    font-size: 30px !important;
}

.navbar-toggler
{
    outline: none !important;
}

#about, #schedule, #speaker, #workshops, #gallery, #facilities, #faq, #register, #contact, #sponsors, #travel
{
    padding: 30px 0;
}

.about, .schedule, .speaker, .workshops, .gallery, .facilities, .faq, .register, .contact, .sponsors, .travel
{
    padding: 20px;
}

.title, .title-schedule, .title-speaker, .title-workshops, .title-gallery, .title-facilities, .title-faq, .title-register, .title-contact, .title-sponsors, .title-travel
{
    font-size: 40px;
    font-weight: 600;
    margin-top: 50px;
    margin-bottom: 40px;
}

/*---------------------Home----------------------------*/
#home
{
    background-image: linear-gradient(to right, rgb(0, 0, 0), rgb(63, 63, 63));
    color: white;
    padding-top: 2%;
    padding-bottom: 2%;
}

.promo-title
{
    font-size: 40px;
    font-weight: 600;
    margin-top: 50px;
}

/*---------------------About the Open House----------------------------*/

.card {
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); /* เงา */
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
}

.card-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.card-text {
    font-size: 1rem;
    color: #6c757d;
}

.title::before
{
    content: '';
    background: rgb(0, 0, 0);
    height: 5px;
    width: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transform: translateY(55px);
}

#about .btn-primary
{
    box-shadow: none;
    padding: 8px 25px;
    border: none;
    border-radius: 20px;
    background-image: linear-gradient(to right, rgb(0, 0, 0), rgb(63, 63, 63));
}

/*---------------------Schedule----------------------------*/
.scheduleBox1 {
    background-image: linear-gradient(to right, rgb(0, 0, 0), rgb(63, 63, 63));
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    color: white;
    margin-top: 20px;
}

.scheduleBox1 .description
{
    text-align: left;
    white-space: pre-line;
}

.card {
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    border-radius: 8px;
    transition: transform 0.3s;
}

.card:hover {
    transform: translateY(-5px);
}

.card-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.card-body
{
    background-color: white;
}

.title-schedule::before
{
    content: '';
    background: rgb(0, 0, 0);
    height: 5px;
    width: 340px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transform: translateY(55px);
}

/*---------------------Speaker Profiles----------------------------*/
#speaker {
    background-color: #f9f9f9;
    padding: 50px 0;
}

.title-speaker {
    font-size: 2.5em;
    margin-bottom: 30px;
    color: #333;
}

.speaker-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    transition: transform 0.2s;
}

.speaker-card img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.speaker-card h4 {
    margin-top: 15px;
    color: #000000;
}

.speaker-card p {
    color: #555;
}

.speaker-card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.title-speaker::before
{
    content: '';
    background: rgb(0, 0, 0);
    height: 5px;
    width: 360px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transform: translateY(55px);
}

/*---------------------Workshops and Activities----------------------------*/

.title-workshops::before
{
    content: '';
    background: rgb(0, 0, 0);
    height: 5px;
    width: 485px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transform: translateY(55px);
}

/*---------------------Gallery----------------------------*/

.title-gallery::before
{
    content: '';
    background: rgb(0, 0, 0);
    height: 5px;
    width: 140px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transform: translateY(55px);
}

/*--------------------- Travel ----------------------------*/

.title-facilities
{
    font-size: 40px;
    font-weight: 600;
    margin-top: 8%;
}

.title-facilities::before
{
    content: '';
    background: rgb(0, 0, 0);
    height: 5px;
    width: 170px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transform: translateY(55px);
}

/*---------------------FAQ----------------------------*/

.title-faq::before
{
    content: '';
    background: rgb(0, 0, 0);
    height: 5px;
    width: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transform: translateY(55px);
}

/*---------------------Registration----------------------------*/

#register
{
    background: rgb(238, 238, 238);
}

.regform-group label 
{
    font-weight: bold;
    margin: 5px auto;
}

.title-register::before
{
    content: '';
    background: rgb(0, 0, 0);
    height: 5px;
    width: 160px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transform: translateY(55px);
}

/*---------------------Contact Us----------------------------*/
#contact
{
    background: rgb(238, 238, 238);
}

.title-contact::before
{
    content: '';
    background: rgb(0, 0, 0);
    height: 5px;
    width: 210px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transform: translateY(55px);
}

.about-title
{
    font-size: 40px;
    font-weight: 600;
    margin-top: 8%;
}

/*---------------------Sponsors and Partners----------------------------*/

.title-sponsors
{
    font-size: 40px;
    font-weight: 600;
    margin-top: 8%;
}

.title-sponsors::before
{
    content: '';
    background: rgb(0, 0, 0);
    height: 5px;
    width: 450px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transform: translateY(55px);
}

/*--------------------- Travel ----------------------------*/

.title-travel
{
    font-size: 40px;
    font-weight: 600;
    margin-top: 8%;
}

.title-travel::before
{
    content: '';
    background: rgb(0, 0, 0);
    height: 5px;
    width: 120px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transform: translateY(55px);
}

.header 
{
    background-color: #23b95b; /* พื้นหลังสีเขียว */
    color: #fff; /* ตัวอักษรสีขาว */
    text-align: center; /* จัดข้อความให้อยู่กึ่งกลาง */
    padding: 50px 20px; 
}

.header h1 
{
    font-size: 2.5rem; 
    margin-bottom: 10px; 
}
  
.header p 
{
    font-size: 1.2rem;
}

.workshop-card 
{
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 30px;
}

.workshop-card h5 
{
    font-weight: bold;
}

.certificate-badge
{
    background-color: #000;
    color: #fff;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 0.9rem;
    white-space: nowrap; /* ป้องกันการตัดบรรทัด */
    margin-top: 5px; /* เพิ่มระยะห่างจากส่วนบน */
}

@media (max-width: 576px) 
{
    .workshop-card .d-flex 
    {
      flex-direction: column; /* จัดแนวให้เป็นแนวตั้งในหน้าจอเล็ก */
      align-items: flex-start; /* จัดชิดซ้าย */
    }

    .certificate-badge 
    {
      margin-top: 10px; /* เพิ่มระยะห่างจากด้านบน */
    }
}

.sponsor-card 
{
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 30px;
    height: 100%;
}

.sponsor-badge
{
    background-color: #000;
    color: #fff;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 0.9rem;
    white-space: nowrap; /* ป้องกันการตัดบรรทัด */
    margin-top: 5px; /* เพิ่มระยะห่างจากส่วนบน */
    margin-left: 5px;
}

.sponsor-info
{
    color: #757575!important;
    text-decoration: none;
}

.sponsor-text
{
    text-align: left;
}

.sponsor-title
{
    text-align: left;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden; 
}

.sponsor-cooperate
{
    text-align: left;
    font-size: 12px;
}

.sponsor-description
{
    text-align: left;
    font-size: 14px;
    white-space: pre-line;
}

@media (max-width: 576px) 
{
    .sponsor-card .d-flex
    {
      flex-direction: column; /* จัดแนวให้เป็นแนวตั้งในหน้าจอเล็ก */
      align-items: flex-start; /* จัดชิดซ้าย */
    }

    .sponsor-badge 
    {
      margin-top: 10px; /* เพิ่มระยะห่างจากด้านบน */
    }
}

.join-btn 
{
    margin-top: 10px;
    width: 100%;
    background-color: #2eb660; 
    color: #fff;
    border: none;
    font-size: 1rem;
}

.join-btn:hover 
{
    background-color: #46f084; 
}

.text-info
{
    color: #25944e!important;
}

.contact-section {
    margin: 50px auto; /* จัดกลางด้วยการใช้ auto */
    padding: 40px;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    max-width: 1300px; /* กำหนดความกว้างสูงสุด */
}

.contact-info {
    background-color: #1a1a1a;
    color: #ffffff;
    padding: 40px;
    border-radius: 15px;
    text-align: left;
}


.contact-info h4 {
    font-weight: bold;
    margin-bottom: 20px;
}

.contact-info p {
    margin-bottom: 15px;
    font-size: 16px;
}

.contact-info i {
    margin-right: 10px;
}

.contact-info a {
    color: #ffffff;
    text-decoration: none;
}

.contact-info a:hover {
    color: #dddddd;
}

.social-icons {
    margin-top: 20px;
}

.social-icons a {
    margin-right: 15px;
}

.social-icons i {
    font-size: 24px;
    color: #ffffff;
}

.social-icons a:hover i {
    color: #dddddd;
}

.form-control {
    border-radius: 8px;
    font-size: 16px;
}

.btn-send {
    background-color: #1a1a1a;
    color: #ffffff;
    border-radius: 8px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    margin-top: 20px; 
}

.btn-send:hover {
    background-color: #333333;
    color: #ffffff;
}

.form-group label {
    font-weight: bold;
    margin: 5px auto;
}

.form-group input, .form-group textarea {
    width: 350px;
}

.col-md-7 {
    padding: 0 20px; /* เพิ่มระยะห่างซ้ายและขวา */
}
#travel {
    background-color: #213a80;
    color: white; 
    padding: 30px 0;
}

.custom-map {
    border: 1px solid #ffffff;
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
}
.custom-map iframe {
    width: 100%;
    height: 500px;
}

.cardf {
    background-color: #2a2a2a;
    border: none;
    border-radius: 15px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .cardf:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }
  
  .cardf img {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
  
  .cardf-body {
    padding: 20px;
  }
  
  .cardf-title {
    font-size: 1.75rem;
    font-weight: bold;
    margin-bottom: 15px;
    color: #f2f2f2;
  }
  
  .cardf-text {
    color: #a5a5a5;
    line-height: 1.6;
  }
  